html {
    display: table;
    margin: 0 auto;
    text-align: center;
}

div {
    color: #b3b3b3;
    border-radius: 7px;
    padding: 5px 5px;
    margin: 5px auto;
    font-family: monospace;
}

canvas {
    border: dashed 2px darkgrey;
    border-radius: 15px;
}